body
 { margin-left: 30%;
	background-color: black;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	border: 15px 15px 15px 15px;
	border-color: red;
	border-style: dashed;
	margin-right: 30%;
	margin-bottom: 0%;
	margin-top: 8%;
	text-align: center;
	background-position: center-left;
	border-width: 5px;
line-height: 1.5em;

 }
 
	body {
		font-weight: bolder;
		
	}
	  a:visited {
		  color: red;
	  }
	
	
	a:hover {
		color: white;
	}
	a:link {
		color: red;
	}
	
	a {
		font-family: "zero";
		font-size: 250%;
	}
	
body { 
	position: relative;	
}
div#GenZhome4 {
		background: url("https://vulcan.dl.playstation.net/ap/rnd/202105/0408/sKRPuXpCw1HGFAV4GXKPG9Pv.png") left center  repeat;
		width: 50.5%;
		height: 100%;
		position: absolute;
		left: -60%;
		top: 0%;
}

div#GenZhome5 {
		background: url("https://vulcan.dl.playstation.net/ap/rnd/202105/0408/sKRPuXpCw1HGFAV4GXKPG9Pv.png") right center repeat;
		width: 50.6%;
		height: 100%;
		position: absolute;
		right: -60%;
		top: 0%;
}

footer {
	width: 450px;
position: bottom;

}


@font-face {
font-family: "zero";
src: url("zero&.ttf");
}



	
	
	
		
		
		
		